/* Todos los elementos de la página 
Tamaño de fuente: 16px
Familia de fuentes:Arial, Helvetica, sans-serif;

Todos los párrafos de la página 
color: #555;

Todos los párrafos contenidos en #primero 
color: #369;

Todos los enlaces de la página 
color: #C30;

Los elementos <em> contenidos en #primero 
color: #0000BB;
background-color: #FFFFCC;

Todos los elementos <em> con la clase "especial" en toda la página 
color: #FFFF00;
background: #000000;

Todos los elementos <span> contenidos en la clase "normal" 
font-weight: bold;
*/ 
body{

    color: #555;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
   color:#C30;
}

p.Primero{
    color:#369;

    em.Sub1{
        color: #0000BB;
        background-color: #FFFFCC;
    }
    
}

em.especial{
    color: #FFFF00;
    background-color: #000000;
}


/* Aqui no encontre como poner para que se utilizara la clase normal
, solo me funciono agregando clase otro a cada span...
otra forma donde me funciono fue solo poner todo span sin clase 
especifica..*/
span{
   font-weight: bold;
}

